.restaurantInfo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;

  gap: 16px;
}

.restaurantDistance {
  color: var(--primary-color);
}

.restaurantDescription {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.restaurantLink {
  color: var(--grey-500);

  margin-bottom: 16px;
}
